{% extends 'base.html.twig' %}

{% block title %}New Home{% endblock %}

{% block body %}
    <div class="col-md-8 mx-auto mt-5">
        <h1 class="text-center">Ajouter</h1>
        {{ include('home/_form.html.twig') }}
        <a class="btn btn-outline-secondary mt-2" href="{{ path('home_index') }}">Retour</a>
    </div>
{% endblock %}
