<form method="post" action="{{ path('rencontre_delete', {'id': rencontre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rencontre.id) }}">
    <button class="btn btn-outline-danger mt-2"><i class="fas fa-trash-alt"></i></button>
</form>
