{% extends 'base.html.twig' %}

{% block title %}New Agenda{% endblock %}

{% block body %}
    <div class="col-md-8 mx-auto mt-5">
        <h1>Ajouter Agenda</h1>
        {{ include('agenda/_form.html.twig') }}
        <a class="btn btn-outline-secondary mt-2" href="{{ path('agenda_index') }}">Retour</a>
    </div>
{% endblock %}
