{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block body %}
<div class="col-md-8 mx-auto mt-5">
    <h1 class="text-center">Ajouter un Auteur</h1>
    <a class="btn btn-outline-secondary my-2" href="{{ path('auteur_index') }}">Retour</a>
    {{ include('auteur/_form.html.twig') }}
</div>
{% endblock %}
